@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@400;700&display=swap");

:root {
  --dark-blue: hsl(243, 87%, 12%);
  --blue: hsl(238, 22%, 44%);
  --light-blue: hsl(224, 93%, 58%);
  --cyan: hsl(170, 45%, 43%);
  --gray-blue: hsl(240, 75%, 98%);
  --gray: hsl(0, 0%, 75%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: var(--dark-blue);
}

h1,
h2,
h3 {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
}

.container {
  max-width: 1250px;
  width: 100%;
  padding: 30px 20px;
  margin: 0 auto;
}

/* Navbar */

.header {
  width: 100%;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 100px;
}

.mobile-nav {
  display: none;
}

.nav-items {
  list-style: none;
  display: flex;
}

.nav-item {
  margin-right: 40px;
}

.nav-item:last-child {
  margin-right: 0;
}

.nav-link {
  text-decoration: none;
  color: var(--dark-blue);
  transition: all 0.3s ease-in-out;
}

.nav-link:hover {
  color: var(--light-blue);
  border-bottom: 1px solid var(--light-blue);
}
